.header--search {
    display: flex;
    margin-right: 2rem;
}

.navbar--justify {
    justify-content: space-between;
}

.navbar__mg {
    padding: 10px 19px;
}

button.activeSearch {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}
