<div class="m-4">
  <div class="row">
    <div class="col-lg-3">
      <img src={{book.image}} alt="" style="width: 100%; border-radius: 4px" />
    </div>
    <div class="col-lg-6" style="height: 400px; ">
      <div class="book__title--slug"><h1>{{book.title}}</h1></div>
      <div class="book__title--description"><span
        >{{book.description}}</span></div>
    </div>
    <div class="col-lg-3"><ul class="list-group">
        <li class="list-group-item active">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul></div>
  </div>
</div>